<div class="container">

    <div class="row d-flex justify-content-center px-xl-4 px-xxl-5">
        {% for item in items %}
            {% if loop.index <= 12*current_page and loop.index >= (12*current_page)-11 %}
                {% set best_price = 2.0 %}
                {% set second_best_price = 3.5 %}

                <div class="z-0 col-6 col-sm-5 col-md-5 col-lg-4 col-xl-4 col-xxl-3 px-xs-0 px-xl-5 px-xxl-4">
                    <div class="mx-3 mx-sm-1 mx-lg-3 mx-xl-2 mx-md-1">
                        <div class="badge position-absolute rounded text-white m-1 bg-opacity-50 z-2 border-dark bg-dark" >#{{ loop.index }}</div>
                    </div>

                    <a class="btn mb-5 shadow-sm mx-3 mx-sm-1 mx-lg-3 mx-xl-2 mx-md-1 p-1 my-xs-5 {% if (item.price_per_thousand_sheets|float) <= best_price %} btn-custom-best {% elif (item.price_per_thousand_sheets|float) <= second_best_price %}btn-custom-second-best {% else %} btn-custom-default {% endif %}" style="max-width: 330px;" href={{item.link}} target="_blank" role="button">
                        <div class="row g-0">
                            <div class="col-md-4 z-1">
                                {% if (item.price_per_thousand_sheets|float) < best_price %}
                                    <img src="static/images/1.jpg" loading="lazy" width="80" class="img-fluid rounded-start border border-white ms-2 p-1" alt="...">
                                {% elif (item.price_per_thousand_sheets|float) <= second_best_price %}
                                    <img src="static/images/2.jpg" loading="lazy" width="80" class="img-fluid rounded-start border border-white ms-2 p-1" alt="...">
                                {% else %}
                                    <img src="static/images/3.jpg" loading="lazy" width="80" class="img-fluid rounded-start border border-white ms-2 p-1" alt="...">

                                {% endif %}
                            </div>
                            <div class="col-md-7">
                               <div class="p-sm-1 pt-md-3">
                                  <p class="fs-3 my-0 py-0 lh-1 fw-bold text-center">${{"%.2f"|format(item.price_per_thousand_sheets)}}</p>
                                  <p class="text-secondary text-center text-opacity-50 mb-0 fw-light fs-6">per 1000 sheets</p>
                               </div>
                            </div>

                            <div class="row img-fluid rounded g-0 border border-white {% if (item.price_per_thousand_sheets|float) <= best_price %}best-background-colour{% elif (item.price_per_thousand_sheets|float) <= second_best_price %}second-best-background-colour{% else %}bg-body-secondary{% endif %} ">
                               <div class="d-flex justify-content-between align-items-center">
                                   <small class="ps-1 my-1 fst-italic {% if (item.price_per_thousand_sheets|float) <= best_price %} best-text-colour {% elif (item.price_per_thousand_sheets|float) <= second_best_price %} second-best-text-colour {% else %} text-black-50 {% endif %}">{{item.name.split()[0]}}</small>
                                   <small class="pe-2 my-1 fst-italic {% if (item.price_per_thousand_sheets|float) <= best_price %} best-text-colour {% elif (item.price_per_thousand_sheets|float) <= second_best_price %} second-best-text-colour {% else %} text-black-50 {% endif %}" >{{item.store}}</small>
                               </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>