/* Rollover effect */
.btn-custom:hover {
  background-color: #2da118; /* Darker shade on hover */
  color: #2da118;
  border-color: black;
}

/* Custom button class */
.btn-custom-best {
  --bs-btn-color: #1a1a1a !important;
  --bs-btn-hover-color: #c28c2b;
  --bs-btn-border-color: #cccccc;
  --bs-btn-hover-border-color: #c28c2b;
  background-color: #ffffff !important;
}

.btn-custom-second-best {
  --bs-btn-color: #1a1a1a !important;
  --bs-btn-hover-color: #45a8a5;
  --bs-btn-border-color: #cccccc;
  --bs-btn-hover-border-color: #45a8a5;
  background-color: #ffffff !important;
}

.btn-custom-default {
  --bs-btn-color: #1a1a1a !important;
  --bs-btn-hover-color: #8e729e;
  --bs-btn-border-color: #cccccc;
  --bs-btn-hover-border-color: #8e729e;
  background-color: #ffffff !important;
}

.active>.page-link{
    background-color: #6c757d;
}

.pagination {
    /* The text color of the links */
    --bs-pagination-color: #565e64;

    /* The color when you hover over them */
    --bs-pagination-hover-color: #565e64;

    /* The background color of the ACTIVE page */
    --bs-pagination-active-bg: #565e64;
    --bs-pagination-active-border-color: #565e64;

    /* The text color of the ACTIVE page (usually white for contrast) */
    --bs-pagination-active-color: #ffffff;

   --#{$prefix}dropdown-link-active-bg: #565e64;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #6c757d;
}

.nav-link {
    color: #6c757d;
}

.best-text-colour {
    color: #cfa321;
}

.second-best-text-colour {
    color: #45a8a5;
}

.best-background-colour {
    background-color: #f5f3e4 !important;
}

.second-best-background-colour {
    background-color: #e4f5f5 !important;
}

.best-badge-background-colour{
    background-color: #a16a18 !important;

}

body { background-color: #fcfcfc; }