/* Rollover effect */
.btn-custom:hover {
  background-color: #0056b3; /* Darker shade on hover */
  color: #f8f9fa;
  border-color: #004085;
}

/* Custom button class */
.btn-custom {
  background-color: #007bff;
  color: white;
  transition: all 0.3s ease; /* Smooth transition */
}

.active>.page-link{
    background-color: #6c757d;
}

.pagination {
    /* The text color of the links */
    --bs-pagination-color: #565e64;

    /* The color when you hover over them */
    --bs-pagination-hover-color: #565e64;

    /* The background color of the ACTIVE page */
    --bs-pagination-active-bg: #565e64;
    --bs-pagination-active-border-color: #565e64;

    /* The text color of the ACTIVE page (usually white for contrast) */
    --bs-pagination-active-color: #ffffff;

   --#{$prefix}dropdown-link-active-bg: #565e64;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #6c757d;
}

.nav-link {
    color: #6c757d;
}
