
.hero-image {
    background-image: url(/static/images/hero.png);
    background-size: cover;

}

.text-drop-shadow{
    text-shadow: 2px 2px 22px #ffffff;
}

.image-blur{
  box-shadow: inset 0 0 15px 15px #ffffff;
}


body {
    background-color: #fcfcfc;
}

/* Rollover effect */
.btn-custom:hover {
  background-color: #2da118; /* Darker shade on hover */
  color: #2da118;
  border-color: black;
}

.btn-secondary{
    --bs-btn-bg: #ffffff;
    --bs-btn-color: #5c636a;
}

.btn-toggle-custom-best {
    display: flex;
    justify-content: center;

  --bs-btn-color: #cfa321;
  --bs-btn-hover-bg: #cfa321;
  --bs-btn-border-color: #cfa321;

  --bs-btn-bg: #ffffff;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-active-color: #cccccc;
}

.btn-toggle-custom-second-best {
    display: flex;
    justify-content: center;

  --bs-btn-color: #45a8a5;
  --bs-btn-hover-bg: #45a8a5;
  --bs-btn-border-color: #45a8a5;

  --bs-btn-bg: #ffffff;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-active-color: #cccccc;
}

.btn-toggle-custom-default {
    display: flex;
    justify-content: center;

  --bs-btn-color: #997baa;
  --bs-btn-hover-bg: #997baa;
  --bs-btn-border-color: #997baa;

  --bs-btn-bg: #ffffff;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-active-color: #cccccc;
}

/* Custom button class */
.btn-custom-best {
  --bs-btn-color: #1a1a1a !important;
  --bs-btn-hover-color: #c28c2b;
  --bs-btn-border-color: #b0b0b0;
  --bs-btn-hover-border-color: #c28c2b;
  background-color: #ffffff !important;
}

.btn-custom-second-best {
  --bs-btn-color: #1a1a1a !important;
  --bs-btn-hover-color: #45a8a5;
  --bs-btn-border-color: #b0b0b0;
  --bs-btn-hover-border-color: #45a8a5;
  background-color: #ffffff !important;
}

.btn-custom-default {
  --bs-btn-color: #1a1a1a !important;
  --bs-btn-hover-color: #997baa;
  --bs-btn-border-color: #b0b0b0;
  --bs-btn-hover-border-color: #997baa;
  background-color: #ffffff !important;
}

.active>.page-link{
    background-color: #6c757d;
}

.pagination {
    /* The text color of the links */
    --bs-pagination-color: #565e64;

    /* The color when you hover over them */
    --bs-pagination-hover-color: #565e64;

    /* The background color of the ACTIVE page */
    --bs-pagination-active-bg: #565e64;
    --bs-pagination-active-border-color: #565e64;

    /* The text color of the ACTIVE page (usually white for contrast) */
    --bs-pagination-active-color: #ffffff;

   --#{$prefix}dropdown-link-active-bg: #565e64;

}

.nav-pills {
    --bs-nav-pills-link-active-bg: #6c757d;
}

.nav-link {
    color: #6c757d;
}

.best-text-colour {
    color: #cfa321;
}

.second-best-text-colour {
    color: #45a8a5;
}

.best-background-colour {
    background-color: #f5f3e4 !important;
}

.second-best-background-colour {
    background-color: #e4f5f5 !important;
}

.best-badge-background-colour{
    background-color: #a16a18 !important;

}

.best-banner{
    color: #f5f3e4;
    background-color: #cfa321 !important;
}


.just-me-again-down-here-regular {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 0;
  font-style: normal;
  font-size: 70px !important;
}

.dynapuff-font {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 75;
  font-size: 65px !important;
  /*text-shadow: 3px 3px 1px #363636;*/
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #404040, -3px 3px 0 #404040, 1px 1px 0 #404040;

  color: #ffffff;
}