<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="container pb-3">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img src="static/images/canada-flag.png" class="rounded-1 ms-3" alt="..." height="30">
                    <h1 class="fs-6 text-center align-middle ps-3 pt-2 fst-italic fw-light">"Best Website For Comparing Prices!"</h1>
                </a>


                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">FAQs</a>
                    </li>
                </ul>
            </header>
        </div>
        <div class="container d-flex justify-content-center text-center">
            <div class="image-blur hero-image rounded-pill mx-auto d-block mb-3" style="width: 1300px; height: 200px;" alt="">
                <div class="dynapuff-font text-drop-shadow" style="position: absolute; top: 18%; left: 50%; transform: translate(-50%, -50%); font-size: 24px; font-weight: bold; text-align: center;">
                    TOILET PAPER SAVER!
                </div>
            </div>
        </div>

<!--        <p class="d-flex justify-content-center p-5">-->

<!--            Prices are updated every Monday! Last updated: 2 Days Ago-->
<!--        </p>-->

        <div class="container pt-5">
            <div class="container d-flex justify-content-center pb-3">
<!--                <div class="d-flex justify-content-center px-2 align-middle text-body-tertiary">Filter By:</div>-->
                <p class="d-inline-flex gap-1">
    <!--            <div class="row px-0">-->
    <!--                <div class="col-1">-->
                    <div class="btn-group align-middle">

                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter By Brand
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Default</a>
                        <a class="dropdown-item" href="#">Snowsoft</a>
                        <a class="dropdown-item" href="#">Toilet</a>
                        <a class="dropdown-item" href="#">Cascades</a>
                    </div>
                    </div>


                    <button type="button" class="btn px-4 btn-toggle-custom-best d-flex d-inline-flex ms-1" data-bs-toggle="button" aria-pressed="true" style="width: 50px;">$</button>
                    <button type="button" class="btn px-4 btn-toggle-custom-second-best d-flex d-inline-flex ms-1" data-bs-toggle="button" aria-pressed="true" style="width: 50px;">$$</button>
                    <button type="button" class="btn px-4 btn-toggle-custom-default d-flex d-inline-flex ms-1" data-bs-toggle="button" aria-pressed="true" style="width: 50px;">$$$</button>
                </p>
            </div>
<!--                    </div>-->
<!--                </div>-->

<!--                <span class="col-10 text-end align-middle fst-italic align-self-center">-->
<!--                    Last Updated:-->
<!--                    <span class = "fw-bold border-bottom">-->
<!--                        2 Days Ago-->
<!--                    </span>-->
<!--                </span>-->

            <br>
            <div id="stock-data">
                {% include "partials/stock.html" %}
            </div>

            <div class="container d-flex justify-content-center pb-5">
            <span id="stock-page">
                {% include "partials/stock-page.html" %}
            </span></div>
        </div>

        <br>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
                        <svg class="bi" width="30" height="24" aria-hidden="true">
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                    </a>
                    <span class="mb-3 mb-md-0 text-body-secondary">© Toilet Paper Saver, Inc</span>
                </div>
            </footer>
        </div>
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>