<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" aria-hidden="true">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-4">Toilet Paper Stockade</span>
                </a>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">FAQs</a>
                    </li>
                </ul>
            </header>
        </div>
        <div class="px-4 py-4 text-center">
            <img class="z-0 d-block mx-auto mb-2 rounded-pill shadow img-fluid" src="static/images/hero.jpg" alt="">
            <div class="my-5">
                <span class="z-1"><h1 class="display-5 fw-bold text-body-emphasis">Toiler Paper Stockade</h1></span>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">We do the "toilet paper math" for you, so you can stock up on the cheapest rolls!</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                </div>
            </div>
                </div>
        </div>

        <div class="container">
            <div class="row px-0">
                <div class="col-1">
                    <div class="btn-group align-middle">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter By Brand
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Default</a>
                            <a class="dropdown-item" href="#">Snowsoft</a>
                            <a class="dropdown-item" href="#">Toilet</a>
                            <a class="dropdown-item" href="#">Cascades</a>
                        </div>
                    </div>
                </div>
                <div class = "col"></div>
                <span class="col-7 text-end align-middle fst-italic align-self-center">
                    Last Updated: <span class = "fw-bold border-bottom">2 Days Ago</span>
                </span>
            </div>
        </div>
        <br>
        <div id="stock-data">
            {% include "partials/stock.html" %}
        </div>
        <div id="stock-page">
            {% include "partials/stock-page.html" %}
        </div>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
                        <svg class="bi" width="30" height="24" aria-hidden="true">
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                    </a>
                    <span class="mb-3 mb-md-0 text-body-secondary">© Toilet Paper Stockade, Inc</span>
                </div>
            </footer>
        </div>
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>